
.mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: double;
  border-radius: 5px;

  margin: 10px 80px 75px 80px;
  padding:  10px 80px 10px 80px;
  background-color: #756a57;
  align-content: center;
}

.submitForm{
  display: flex;
  flex-direction: column;
  align-items: center;

justify-content: center;

}
.loginField{
margin-top: 8px;
width: 500px;
box-sizing: border-box;
justify-content: center;
}

.loginBtn{
  margin-top: 8px;
  margin-bottom: 8px;
}

.loginHeader{
  background-color: #3970a8;
  border-style: groove;
  border-radius: 1px;
  font-family: 'Carter One';
  text-shadow: 2px 2px 1px gray;
  text-align: center;
}

.loginLinks{
  display: flex;
  flex-direction: column;
  align-items: center;
}
